---
layout: page
title: portfolio
---
{% include head.html %}

<p>
  Below are some links to selected bioinformatics projects that I have worked on. Each
  page presents the project as a case study.
</p>

{% assign sorted_portfolio = site.portfolio | sort: "weight" %}
{% for page in sorted_portfolio %}
  <div class="responsive">
    <div class="img">
      <a href="{{ page.url }}">
        <img src="{{ page.image_path }}" alt="{{ page.title}}">
      </a>
      <div class="desc">{{ page.title }}</div>
    </div>
  </div>
{% endfor %}
